player-connection-mode=Connect
player-connection-guid=1301568034
player-connection-debug=0
player-connection-project-name=Project300
player-connection-wait-timeout=-1
player-connection-ip=192.168.1.3
profiler-enable=1
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=36eba23b996d40a8bfe7ea7777e8c169
